{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ScanScore</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Add all other vendor CSS files similarly -->
  <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container">
      <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><a  href="{% url 'index' %}">ScanScore</a></h1>
    </div>
  </header>

  <section id="hero" class="d-flex align-items-center" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Welcome to <strong>Scanscore</strong></h1>
          <h2>Say Goodbye to Grading Papers!</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href='{% url 'register_teacher' %}' class="btn-get-started scrollto">Teacher</a>
            <a href='{% url 'register_student' %}' class="btn-get-started scrollto" style="margin-left: 20px;">Student</a>
            <!-- <a href='{% url 'login' %}' class="btn-get-started scrollto" style="margin-left: 20px;">Login</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Load other JS vendor files similarly -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
