{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ScanScore</title>

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-5.0.0-beta1.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/LineIcons.2.0.css' %}" rel="stylesheet">
    <link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/lindy-uikit.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
        .card {
            padding: 20px;
            box-shadow: 5px 5px 6px 8px rgba(0, 0, 0, 0.15);
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
        }

        .form-control {
            min-width: 450px;
            width: 100%;
            max-width: 550px;
        }

        .form-label {
            color: #495057;
        }

        .color1 {
            color: #9e69a9;
        }

        #log-btn {
            background-color: #f1a091;
            color: #9e69a9;
            border: none;
            position: relative;
            left: 1%;
            font-size: 20px;
        }
        #img-log {
            border-radius: 50%;
        }
    </style>
</head>

</head>

<body>
    <section class=" align-items-center" style="padding-top: 3%;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 justify-content-center order-2 order-lg-1" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="card text-black" style="border-radius: 25px;">
                        <h2 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 color1">Register as Teacher</h2>
                        {% block content %}
                        {% if messages %}
                        {% for message in messages %}
                        <div>
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form method="post" action="{% url 'register_teacher' %}" class="mx-1 mx-md-4">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                            {% endif %}
                            {% for field in form %}
                            <div class="d-flex flex-row align-items-center mb-4">
                                {% if field.field.widget.input_type == 'password' %}
                                <i class="fas fa-lock fa-lg me-3 fa-fw color1"></i>
                                {% else %}
                                <i class="fas fa-user fa-lg me-3 fa-fw color1"></i>
                                {% endif %}
                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                    <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}"
                                        name="{{ field.name }}" class="form-control" aria-label="{{ field.label }}"
                                        required {{ field.field.widget.attrs|safe }}>
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {% if field.help_text %}
                                    <!-- <small class="form-text text-muted">{{ field.help_text }}</small> -->
                                    {% endif %}
                                    {% for error in field.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-secondary m-1 w-100 " id="log-btn"
                                    style="border-radius: 22px;color: white;">Register</button>
                            </div>
                            <p class="text-center mt-3">
                                Already have an account? <a href="{% url 'login' %}">Login here</a>
                            </p>
                        </form>
                        {% endblock %}

                    </div>

                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="" id="img-log">
                </div>
            </div>
        </div>
    </section>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
        style="background-color: #f1a091;"><i class="bi bi-arrow-up-short"></i></a>
        
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap-5.0.0-beta1.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main1.js' %}"></script>
    <script src="{% static 'js/mdb.umd.min.js' %}"></script>
</body>

</html>