{% extends "myapp/teacher/teacher-base.html" %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert {{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<div class="container">
    <h1>Upload Images for Exam ID: {{ exam_id }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="images" multiple required>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
