{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ScanScore</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
        #header {
            background-color: transparent;
        }

        #header .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        #header .logo {
            text-align: center;
        }

        .Active {
            border: 2px solid #d4b3db !important;
        }

        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: none;
            border-radius: 22px;
            font-size: 16px !important;
            padding: 10px 20px;
            color: white !important;
        }

        .style1 {
            color: #77517f;
            background-color: #f1a091 !important;
            border-color: #f1a091;
        }
        .color1 {
            color: #9e69a9;
        }
    </style>
</head>

<body>

    <header id="header">
        <div class="container align-items-center justify-content-between">
            <h1 class="me-auto"><a href="{% url 'teacher_dashboard' %}" style="color: #d4b3db;">Scanscore</a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto Active" href="{% url 'teacher_dashboard' %}" id="home">Home</a>
                    </li>
                    <li><a class="nav-link scrollto" href="{% url 'create_exam' %}" id="makenew">Make New Exam</a></li>
                    <li class="dropdown">
                        <a href="#">
                            <img src="{% static 'img/unknown_user.jpg' %}" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" />
                            <strong class="d-none d-sm-block ms-1" id="username">{{ user.first_name }}</strong><i
                                class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="{% url 'view_profile_teacher' %}">View Profile</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <section class="align-items-center"
        style="font-family: Arial, Helvetica, sans-serif;background: transparent; padding-top: 2%;">
        <div class="container">
            <div class=" justify-content-center order-2 order-lg-1" data-aos="fade-up"
                data-aos-delay="200">
                <div class="card text-black"
                    style="border-radius: 25px; padding-bottom: 5%;padding-left: 2%; padding-right: 2%;">
                    {% block content %}
                    <div class="container" style="padding-top: 3%;">
                        <h1 style="color: #9e69a9;text-align: center;" >Exam Details</h1>
                        {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="d-flex"> <strong style="font-size: 150%;" class="color1">Exam Name : </strong>
                            &nbsp;<input type="text" class="form-control" style="width: 25%;" disabled
                                value="{{ exam.name }}">
                        </div>
                        <div class="exam-date">
                            {{ exam.time_created }}
                        </div>
                        </p>
                        <div class="form-group exam-question color1" style="font-size: 150%;">
                            <strong for="id_question">Question:</strong>
                            <textarea id="id_question" name="question" rows="1" class="form-control question"
                                disabled>{{ exam.question }}</textarea>
                        </div>
                        <br>
                        <div class="form-group exam-model-answer" style="font-size: 150%;">
                            <strong for="id_model_answer" class="color1">Model Answer:</strong>
                            <textarea id="id_model_answer" name="model_answer" rows="3"
                                class="form-control model_answer" placeholder="Enter Model Answer...."
                                disabled>{{ exam.model_answer }}</textarea>
                        </div>
                        <!-- Keywords would also be displayed here -->
                        <br>
                        <div class="d-flex justify-content-between exam-buttons">
                            <div style="flex-grow: 1;">
                                <a href="{% url 'edit_exam' exam.id %}" class="btn btn-primary me-1">Edit</a>

                                <form action="{% url 'delete_exam' exam.id %}" method="post" class="d-inline me-1">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete this exam?');">Delete</button>
                                </form>

                                {% if not exam.is_active %}
                                <form action="{% url 'publish_exam' exam.id %}" method="post" class="d-inline me-1">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success"
                                        onclick="return confirm('Are you sure you want to make the exam available for students?');">Publish</button>
                                </form>
                                {% else %}
                                <form action="{% url 'unpublish_exam' exam.id %}" method="post" class="d-inline me-1">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning"
                                        onclick="return confirm('Are you sure you want to make the exam unavailable for students?');">Unpublish</button>
                                </form>
                                {% endif %}
                            </div>
                            <div>
                                {% if exam_submissions.0.is_graded %}
                                <a href="{% url 'view_grades' exam.id %}" class="btn btn-primary me-1 style1">View
                                    Grades</a>
                                {% else %}
                                <a href="{% url 'view_submissions' exam.id %}" class="btn btn-primary me-1 style1">View
                                    Students' Submissions</a>
                                {% endif %}

                                {% if exam.ocr_graded %}
                                <a href="{% url 'view_grades_ocr' exam.id %}" class="btn btn-primary me-1 style1">View
                                    Graded Papers</a>
                                {% else %}
                                <a href="{% url 'upload_images' exam.id %}" class="btn btn-primary me-1 style1">Upload
                                    Images</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
    </section>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
        style="background-color: #f1a091;"><i class="bi bi-arrow-up-short"></i></a>
        
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>