.word-container {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #c1d2eb;
    margin: 5px;
  }
  
  .word-container span {
    padding: 5px;
    margin-right: 5px;
    color:#12048b;
  }
  
  .delete-button {
    background-color: #c1d2eb;
    border: none;
    border-radius: 15px;
    color:#12048b;
    cursor: pointer;
    display: inline-block;
  }
  textarea.form-control {
    height: 100px;
    resize:both; /* Disable resizing */
  }