body {
  font-family: "Open Sans", sans-serif;
  background: #574870 !important;
}

:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #444444;
  --default-color-rgb: 68, 68, 68;
  --heading-color: #9e69a9;
  --heading-color-rgb: 55, 81, 126;
  --accent-color: #9e69a9;
  --accent-color-rgb: 71, 178, 228;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

#home:hover {
  color: #9e69a9;
  width: 120px;
  border-radius: 50px;
  background-color: #f1a091;
  font-size: 19px;
}

#home {
  color: #d9c2de;
  width: 120px;
  border-radius: 50px;
  font-size: 19px;
}

#makenew {
  color: #d9c2de;
  font-size: 19px;
  width: 190px;
  margin-left: 10px;
  border-radius: 50px;
}

#makenew:hover {
  font-size: 19px;
  width: 190px;
  color: #9e69a9;
  border-radius: 50px;
  background-color: #f1a091;
  margin-left: 10px;
}

#header {
  background-color: transparent;
}

#header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#header .logo {
  text-align: center;
}

#username {
  font-size: 18px;
}

#username:hover {
  font-size: 18px;
  color: #9e69a9;
}

#exam-list {
  border-radius: 30px;
  background-color: #f1a091;
  color: #fff;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 23px;
  position: relative;
  top: 50px;
}

#arrow-dir {
  color: #9e69a9;
  text-decoration: none;
  font-size: 28px;
}

.Ac {
  border: 2px solid #b47ec0 !important;
}

.Active {
  border: 2px solid #b47ec0 !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #47294c;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #47294c;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

a {
  text-decoration: none;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------------------------------------- */

.input-group>.form-control:focus {
  box-shadow: inset 0 0 0 1px transparent;
}

.btn-link:hover {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:active,
.btn-link.active {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:focus,
.btn-link.focus {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}

.btn-link:active:focus,
.btn-link.active:focus {
  color: #f0b6d5;
  background-color: rgba(255, 255, 255, .35);
}


.purple-gradient {
  color: #fff;
  background: linear-gradient(to right, #F0B6D5, #A38495);
}

.btn.purple-gradient:hover {
  color: #fff;
}

.text-pink {
  color: #F0B6D5
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #906899;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff !important;
  line-height: 0;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header .logo {
  font-size: 50px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #906899;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #906899;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #906899;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 22px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #c58fd1;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #1f0325;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/* @media (max-width: 600px) {
  .navbar-mobile .dropdown>.dropdown-active {
      display: block;
      visibility: visible !important;
      width: 250px;
      color: #b47ec0;
      position: relative;
      top: 1%;
      left: 26%;
  }

  #home {
      color: #b47ec0;
      width: 120px;
      border-radius: 50px;
      font-size: 19px;
      left: 44%;
      position: relative;
      text-align: center;
      display: inline-block;
      border: 0px;
  }

  #home:hover {
      color: #9e69a9;
      width: 120px;
      border-radius: 50px;
      background-color: #f1a091;
      font-size: 19px;
  }

  #makenew {
      font-size: 17px;
      width: 190px;
      margin-left: 10px;
      left: 36%;
      position: relative;
      text-align: center;
      display: inline-block;
      padding: 20px;
      color: #b47ec0;
  }

  #username {
      font-size: 22px;
      position: relative;
      right: 4%;
  }

  #img_pro {
      height: 35px;
      position: relative;
      left: 33%;

  }

  #nav_pro {
      background: blue;
      position: relative;
      left: -160px;
      width: 500px;
  }

  .navbar li {
      position: relative;
      right: 5%;
  }

  #exam-list {
      border-radius: 30px;
      background-color: #f1a091;
      color: #fff;
      padding: 12px;
      margin-bottom: 15px;
      font-size: 20px;
      position: relative;
      top: 50px;
      height: 100px;
      width: 500px;
      left: 4%;
  }

  #hello {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
      margin-top: 15px;
      position: relative;
      left: 33%;
  }

  #your_exam {
      left: 35%;
  }

  #scan {
      color: #d4b3db;
      position: relative;
      left: 10px;
      font-size: 37px;
  }

  #act {
      color: #0f8a2e;
      position: relative;
      left: 10px;
  }

  inact {
      color: #db3a3a;
      position: relative;
      left: 10px;
  }

  #arrow-dir {
      color: #9e69a9;
      text-decoration: none;
      font-size: 28px;
      position: relative;
      bottom: 50px;
  }

  .col-12 {
      flex: 0 0 auto;
      width: 100%;
      position: relative;
      left: 10px;
      bottom: 7%;
  }

  .navbar-mobile ul {
      display: block;
      position: absolute;
      top: 210px;
      right: 15px;
      bottom: 0px;
      left: 15px;
      padding: 70px 0;
      border-radius: 10px;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;
      max-height: 400px;
      max-width: 530px;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #47294c;
      position: relative;
      left: 5%;
  }

  .dropdown {
      width: 600px;
      height: 300px;
  }

  #username {
      font-size: 20px;
      position: relative;
      right: 37px;
      display: block !important;
  }

  #img_pro {
      height: 35px;
      position: relative;
      left: 173px;
  }

  #arrow_pro {
      position: relative;
      right: 45%;
  }

} */
@media (max-width: 600px) {
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
    visibility: visible !important;
    width: 250px;
    color: #b47ec0;
    margin-left: 180px;
    /* position: relative;
      top: 1%;
      left: 26%; */
  }

  #home {
    color: #b47ec0;
    width: 120px;
    border-radius: 50px;
    font-size: 19px;
    left: 44%;
    position: relative;
    text-align: center;
    display: inline-block;
    top: 40px;
  }

  #home:hover {
    color: #9e69a9;
    width: 120px;
    border-radius: 50px;
    background-color: #f1a091;
    font-size: 19px;
  }

  #makenew {
    font-size: 17px;
    width: 190px;
    margin-left: 10px;
    left: 36%;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 20px;
    color: #b47ec0;
    top: 40px;
  }

  #username {
    font-size: 22px;
    position: relative;
    right: 4%;
  }

  #img_pro {
    height: 35px;
    position: relative;
    left: 33%;

  }

  #nav_pro {
    background: blue;
    position: relative;
    left: -160px;
    width: 500px;
  }

  .navbar li {
    position: relative;
    right: 5%;
  }

  #exam-list {
    border-radius: 30px;
    background-color: #f1a091;
    color: #fff;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    top: 50px;
    height: 100px;
    width: 500px;
    left: 4%;
  }

  #hello {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 15px;
    position: relative;
    left: 33%;
  }

  #your_exam {
    left: 35%;
  }

  #scan {
    color: #d4b3db;
    position: relative;
    left: 10px;
    font-size: 48px;
  }

  #act {
    color: #0f8a2e;
    position: relative;
    left: 10px;
  }

  inact {
    color: #db3a3a;
    position: relative;
    left: 10px;
  }

  #arrow-dir {
    color: #9e69a9;
    text-decoration: none;
    font-size: 28px;
    position: relative;
    bottom: 50px;
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    left: 10px;
    bottom: 7%;
  }

  .navbar-mobile ul {
    display: block;
    position: absolute;
    /* top: 210px; */
    right: 15px;
    bottom: 0px;
    left: 15px;
    padding: 70px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    max-height: 400px;
    max-width: 530px;
  }

  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #47294c;
    position: relative;
    left: 5%;
  }

  .dropdown {
    width: 600px;
    height: 300px;
    top: 40px;
    /* position: relative;
      right: 17%; */
  }

  #username {
    font-size: 20px;
    position: relative;
    right: 37px;
    display: block !important;
  }

  #img_pro {
    height: 35px;
    position: relative;
    left: 173px;
  }

  #arrow_pro {
    position: relative;
    right: 45%;
  }

}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(69, 48, 101, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 30%;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #906899;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #906899;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
  visibility: visible !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background: #574870;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #906899;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #906899;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
  top: 70px;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #47294c;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #906899;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #906899;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #906899;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #906899;
}

.about .content .btn-learn-more:hover {
  background: #906899;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 60px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #47294c;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: #848484;
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
}

.why-us .accordion-list span {
  color: #906899;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: #343a40;
}

.why-us .accordion-list a.collapsed:hover {
  color: #906899;
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #47294c;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #47294c;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #906899;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #47294c;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #47294c;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #906899;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #906899;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #906899;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

@media (max-width: 600px) {
  .form-outline {
    position: relative;
    width: 5%;
  }

  #login_id {
    font-size: 40px;
    position: relative;
    right: 2%;
  }

}