{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ScanScore</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<style>
    .ntr:hover {
        color: #906899;
    }

    @media (max-width: 600px) {
        #arrow-dir {
            font-size: 40px;
            position: relative;
            bottom: 90px;
            left: 170px;
        }

        #arrow-dir:hover {
            color: #492b4f;
            /* text-decoration: none;
            font-size: 40px;
            position: relative;
            bottom: 90px;
            left: 170px; */
        }

        .pos_list {
            position: relative;
            bottom: 10px;
            /* left: 33%; */
        }

        #exam-list {
            border-radius: 30px;
            background-color: #f1a091;
            color: #fff;
            padding: 12px;
            bottom: 5px;
            font-size: 23px;
            position: relative;
            /* top: 60%; */
            height: 110px;
            width: 500px;
            left: 4%;
        }
    }

    #not_graded {
        color: #db3a3a;
        font-size: 23px;
    }


    #graded {
        color: #0f8a2e;
    }
</style>

<body>
    <header id="header">
        <div class="container align-items-center justify-content-between">
            <h1 class="me-auto"><a href="{% url 'student_dashboard' %}" style="color: #d4b3db;" id="scan">Scanscore</a>
            </h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto Active" href="{% url 'student_dashboard' %}" id="home">Home</a>
                    </li>
                    <li><a class="nav-link scrollto" href="{% url 'take_exam' %}" id="makenew">Take New Exam</a></li>
                    <li class="dropdown">
                        <a href="#">
                            <img src="{% static 'img/unknown_user.jpg' %}" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" id="img_pro" />
                            <strong class="d-none d-sm-block ms-1" id="username">{{ user.first_name }}</strong><i
                                class="bi bi-chevron-down" id="arrow_pro"></i>
                        </a>
                        <ul>
                            <li><a href="{% url 'view_profile_student' %}">View Profile</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <section style="text-align: left;font-family: Arial, Helvetica, sans-serif;">
        <div class="container">
            {% block content %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <h1 id="hello"
                style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: white;">
                Hello, {{ user.first_name }}
            </h1>
            <div class="exam-list">
                {% for submission in student_submissions %}
                <div class="exam-item row" id="exam-list">
                    <div class="exam-title col-md-4 pos_list">{{ submission.exam.name }}</div>
                    <div class="exam-date col-md-3 pos_list">{{ submission.time_submitted|date:"M d" }}</div>
                    {% if submission.is_approved %}
                    <div class="exam-grade col-md-4 grade pos_list" style="text-align: center;" id="graded"
                        data-grade='{{ submission.score }}'>
                        {{ submission.score }}/10
                    </div>
                    {% else %}
                    <div class="exam-grade col-md-4 pos_list pos_list" style="cursor: pointer; text-align: center; " id="not_graded">
                        Not graded yet
                    </div>
                    {% endif %}
                    <div class="arrow col-md-1" style="cursor: pointer; text-align: center;"
                        onclick="location.href='{% url 'view_exam_student' submission.exam.id %}'" id="arrow-dir"
                        class="ntr">→</div>
                </div>

                {% empty %}
                <div style="text-align: center;">
                    <h2 style="padding-left: 15px;">No exams submitted yet.</h2>
                </div>
                {% endfor %}
            </div>
            {% endblock %}
        </div>
    </section>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
        style="background-color: #f1a091;"><i class="bi bi-arrow-up-short"></i></a>

    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const grades = document.querySelectorAll('.grade');

            grades.forEach(function (grade) {
                const value = parseInt(grade.getAttribute('data-grade'), 10);
                if (value < 5) {
                    grade.classList.add('low');
                } else if (value == 5) {
                    grade.classList.add('medium');
                } else {
                    grade.classList.add('high');
                }
            });
        });
    </script>

</body>

</html>