{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ScanScore</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        .password-toggle {
            position: relative;
        }

        .password-toggle .toggle-icon {
            position: absolute;
            top: 67%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .Ac {
            border: 2px solid #d4b3db !important;
            color: #d4b3db;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: none;
            border-radius: 22px;
            color: white !important;
        }

        .btn-primary {
            background-color: #f1a091 !important;
            font-size: 130%;
        }
        .color1{
            color:#a562b1;
        }
    </style>
</head>

<body>
    <header id="header">
        <div class="container align-items-center justify-content-between">
            <h1 class="me-auto"><a href="{% url 'student_dashboard' %}" style="color: #d4b3db;" id="scan">Scanscore</a>
            </h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto Active" href="{% url 'student_dashboard' %}" id="home">Home</a>
                    </li>
                    <li><a class="nav-link scrollto" href="{% url 'take_exam' %}" id="makenew">Take New Exam</a></li>
                    <li class="dropdown">
                        <a href="#">
                            <img src="{% static 'img/unknown_user.jpg' %}" class="rounded-circle" height="35"
                                alt="Black and White Portrait of a Man" loading="lazy" id="img_pro" />
                            <strong class="d-none d-sm-block ms-1" id="username">{{ user.first_name }}</strong><i
                                class="bi bi-chevron-down" id="arrow_pro"></i>
                        </a>
                        <ul>
                            <li><a href="{% url 'view_profile_student' %}">View Profile</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>


    <section class="align-items-center" style="font-family: Arial, Helvetica, sans-serif;background-color: transparent; padding: 0 0;">
        <div class="container">
            <div class="justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <img class="rounded-circle mt-5" src="{% static 'img/unknown_user.jpg' %}" width="150">
                                <span class="font-weight-bold" style="font-size: large;color:#a562b1;">{{ user.first_name }} {{ user.last_name }}</span>
                                <span class="text-black-50">{{ user.email|default:"No email" }}</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="p-3 py-5">
                                <h3 style="color:#a562b1;">Profile Settings</h3>
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-info" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="POST" action="{% url 'edit_profile_student' %}">
                                    {% csrf_token %}
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" name="username" class="form-control" id="username" value="{{ user.username }}" required>
                                            {{ form.username.errors }}
                
                                        </div>
                                        <div class="col-md-6">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" name="email" class="form-control" id="email" value="{{user.email}}" required>
                                            {{ form.email.errors }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <label for="first_name" class="form-label">First Name</label>
                                            <input type="text" name="first_name" class="form-control" id="first_name" value="{{ user.first_name }}" required>
                                            {{ form.first_name.errors }}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="last_name" class="form-label">Last Name</label>
                                            <input type="text" name="last_name" class="form-control" id="last_name" value="{{ user.last_name }}" required>
                                            {{ form.last_name.errors }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6 password-toggle">
                                            <label for="new_password" class="form-label">New Password</label>
                                            <input type="password" name="new_password" class="form-control" id="password1" >
                                            {{ form.new_password.errors }}
                                            {% comment %} <span class="toggle-icon">
                                                <i class="bi bi-eye" id="togglePassword"></i>
                                            </span> {% endcomment %}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="confirm_password" class="form-label">Confirm Password</label>
                                            <input type="password" name="confirm_password" class="form-control" id="password2" >
                                            {{ form.confirm_password.errors }}
                                            {% comment %} <span class="toggle-icon">
                                                <i class="bi bi-eye" id="togglePassword"></i>
                                            </span> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <label for="student_id" class="color1">Student ID:</label>
                                        <input type="text" class="form-control" placeholder="id" id="student_id"
                                            name="student_id" value="{{ user.student.student_id }}">
                                            {{ form.student_id.errors }}
                                    </div>
                                    <div class="mt-5" style="text-align: right;">
                                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="background-color: #f1a091;"><i class="bi bi-arrow-up-short"></i></a>

    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin='anonymous'></script>
    {% comment %} <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_new_password');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });
    </script> {% endcomment %}
</body>

</html>
